build/
debian/nubo_mouth_detector/
debian/nubo_mouth_detector/
debian/nubo-mouth-detector.debhelper.log
debian/nubo-mouth-detector-dev.debhelper.log
debian/nubo-mouth-detector-dev.substvars
debian/nubo-mouth-detector.postinst.debhelper
debian/nubo-mouth-detector.postrm.debhelper
debian/nubo-mouth-detector.substvars
debian/tmp/
obj-x86_64-linux-gnu/
